name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: pavankalyan787/nginx-webapp:latest

      - name: Update K8s Manifest in GitOps repo
        run: |
          sed -i "s|image: pavankalyan787/nginx-webapp:.*|image: pavankalyan787/nginx-webapp:latest|g" ./gitops-repo/base/deployment.yaml

      - name: Commit and Push updated manifest
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          cd gitops-repo
          git add .
          git commit -m "Update image tag to latest"
          git push origin main

